/* all styles go here */
body {
	background-color: #7e8aa2;
}
.form-tray {
	margin-bottom: 5px;
	border-radius: 10px;
	background-color: #91aa9d;
	border-style: solid;
	border-width: 2px;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-right: 5px;
}
.log-row {
	background-color: #D1DBBD;
}